.favOff{
  color: lightgray;
  margin: 5;
}

.favOn{
  color: gold;
  margin: 5;
}

.btnd:active,
.btnd:focus,
.btnd.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}